@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-cursive {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}
